<!DOCTYPE html>
<html>
<head>
	 <title>Login page</title>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
     <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="container" id="signup_container">
		<div class="sign">
		  <div class="res_1">	
			<div class="form">
				<div class="login">
					<h1><b>Wellcome Back</b></h1>
				</div>
				<div class="input1">
					<form>
						<input type="email" name="#" id="input" placeholder="Enter Address" class="form-control"><br>
						<input type="submit" value="Continue" name="#" id="button" class="btn btn-success">
					</form>
				</div>
				<div class="input2">
					<p>Dont't have an account?<a href="#" style="text-decoration: none;">Sign Up</a></p>
					<hr>
					OR
					<a href="#"><div class="google">
						<img src="icon.png">
						<h3>Open with Google</h3>
					</div></a>
				</div>
			</div>
		  </div>	
		</div>
	</div>

</body>
</html>